* {
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    background-repeat: no-repeat;
    background-position:center; 
    background-size: cover;
  }

main {
    text-align: center;
    justify-content: center;
    flex: 1 0 auto;
    margin-left:200px;
    margin-right:200px;
}
footer {
    text-align: center;
}

.question_page {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
/*hides the bullet points */
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
   }

li {
    margin-bottom: 10px;
}

/*display only the intro page*/
.question_page, .outcome_page, .highscore_page, #check_line {
    display:none;
}

/* Button characteristics */
.button{
    background:purple;
    color:white;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }

.choices {
    background:purple;
    color:white;
}

.choices:hover{
    background-color: rgb(246, 182, 246);
}

.button:hover{
  
    background-color:rgb(205, 245, 247);
  
}